@media screen and (max-width:1350px) and (min-width:920px) {
    nav {
        width: 100% !important;
    }

    nav ul {
        padding-left: 0px !important;
        width: 70% !important;
    }

    main .heading {
        margin-top: 5vh;
        width: 60%;
        margin-left: 0%;
    }
}

@media screen and (max-width:920px) and (min-width:320px) {
    nav {
        padding-left: 30px;
    }

    nav ul {
        width: 30% !important;
        justify-content: end !important;
        padding-right: 30px;
    }

    nav .checking {
        padding-right: 30px;
    }

    nav .toshow {
        display: flex !important;
        cursor: pointer;
    }

    nav .check {
        display: none;
    }
}

/* ================================================================ */

@media screen and (max-width:920px) and (min-width:768px) {
    nav {
        width: 100% !important;
    }

    .heading h1 {
        font-size: 3.2666666666667rem;
    }

    nav ul {
        padding-left: 0px !important;
        width: 70% !important;
    }

    main {
        height: 75vh;
        border-bottom-left-radius: 40px;
        border-bottom-right-radius: 40px;
    }

    main .heading {
        margin-top: 5vh;
        width: 75%;
        font-size: 30px !important;
        margin-left: 0%;
        height: 60vh;
    }
}

@media screen and (max-width:768px) and (min-width:567px) {
    nav {
        width: 100% !important;
    }
    nav .logo{
        width: 50%;
    }

    .heading h1 {
        width: 100%;
        font-weight: 500;
        line-height: 50px;
        font-size: 2.4666666666667rem;
    }

    nav ul {
        padding-left: 0px !important;
        width: 70% !important;
    }

    main {
        height: 75vh;
        border-bottom-left-radius: 40px;
        border-bottom-right-radius: 40px;
    }

    main .heading {
        margin-top: 15vh;
        width: 95%;
        font-size: 30px !important;
        margin-left: 0%;
        height: 60vh;
    }
}
